@import url("~leaflet/dist/leaflet.css");

.line {
    @apply w-1/2 bg-indigo-700 h-1 flex items-center;
}

.circle-step {
    @apply bg-indigo-700 h-6 w-6 rounded-full shadow flex items-center justify-center;
}

.datePicker {
    width: 100%;
    background: white;
}

input:checked+label {
    border-color: black;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.leaflet-container {
    width: 50%;
    height: 50vh;
}